*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --color-primary-1: hsl(231, 69%, 60%);
  --color-primary-2: hsl(0, 94%, 66%);
  --color-neutral-1: hsl(0, 0%, 90%);
  --color-neutral-2: hsl(229, 31%, 21%);
  --x-padding: 10vw;
  --y-section-padding: 10vh;
  --heading-font-size: 1.5rem;
  --paragraph-font-size: 1rem;
  --paragraph-opacity: 0.5;
  --button-padding: 0.8rem 1.4rem;
  --button-radius: 0.4rem;
  --primary-box-shadow: 0 0.3rem 1rem 0 rgba(83, 104, 223, 0.2);
  color: var(--color-neutral-2);
}

/* Resets */
.button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
}
.text-input {
  outline: none;
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
/*  */

/* Defaults */
p {
  font-size: var(--paragraph-font-size);
  opacity: var(--paragraph-opacity);
}
h1,
h2 {
  font-size: var(--heading-font-size);
}
.section {
  padding-top: var(--y-section-padding);
  padding-bottom: var(--y-section-padding);
}
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.section-header > p {
  max-width: 35%;
  text-align: center;
}
a {
  cursor: pointer;
  user-select: none;
}
/*  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--y-section-padding) var(--x-padding);
  padding-top: 5vh;
}
.nav-links-cta-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.nav-links-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.nav-link > a {
  color: inherit;
  text-decoration: none;
}
.login-button {
  padding: 0.8rem 1.6rem;
  border: 0.15rem solid transparent;
  border-radius: 0.4rem;
}
.nav-link,
.login-button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

/* Hero Section */
.section-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
.section-hero > * {
  flex: 1;
}
.section-hero-content {
  padding-left: var(--x-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-hero-illustration-wrapper {
  position: relative;
  overflow: hidden;
  padding-right: var(--x-padding);
  padding-left: 10rem;
}
.section-hero-illustration-wrapper::before {
  position: absolute;
  right: -1%;
  bottom: 0;
  content: "";
  height: 16rem;
  width: 40vw;
  --border-radius: 40vw;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--color-primary-1);
  z-index: -1;
}
.section-hero-illustration {
  width: 110%;
}
.section-hero-content > h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.section-hero-content > p {
  max-width: 90%;
}
.section-hero-cta-buttons {
  display: flex;
  gap: 1rem;
}
.section-hero-cta-buttons > .button {
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  font-weight: bold;
}
.primary-cta-button,
.primary-button {
  background-color: var(--color-primary-1);
  color: #ffffff;
  border: 0.15rem solid transparent;
}
.secondary-cta-button,
.secondary-button {
  background-color: var(--color-neutral-1);
  color: var(--color-neutral-2);
  box-shadow: var(--primary-box-shadow);
  border: 0.15rem solid transparent;
}
.secondary-button {
  color: #ffffff;
  background-color: var(--color-primary-2);
}

/* Features Section */
.section-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-features-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.features-tab-switcher-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-tab-switcher-button-wrapper {
  border-bottom: 0.15rem solid var(--color-neutral-1);
}
.features-tab-switcher-button {
  font-size: 1rem;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-tab-switcher-button.active {
  opacity: 1;
}
.features-tab-switcher-button-text {
  padding: 1.5rem;
  border-bottom: 0.15rem solid transparent;
  pointer-events: none;
  width: fit-content;
}
.features-tab-switcher-button.active > .features-tab-switcher-button-text {
  border-color: var(--color-primary-2);
}
.features-tab {
  display: flex;
  height: 40vh;
  gap: 5rem;
}
.features-tab > * {
  width: 50%;
}
.features-tabs-wrapper {
  position: relative;
  padding: 0 var(--x-padding);
  padding-bottom: 3.5rem;
  margin-bottom: 4rem;
}
.features-tabs-wrapper::before {
  position: absolute;
  left: -1%;
  bottom: -10%;
  content: "";
  height: 16rem;
  --background-overlay-width: 42vw;
  width: var(--background-overlay-width);
  --border-radius: var(--background-overlay-width);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-primary-1);
  z-index: -1;
}
.features-tab-illustration-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 20rem;
}
.features-tab-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
.features-tab-content > p {
  max-width: 90%;
}
.features-tab-content > .button {
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  font-weight: bold;
}
.features-tab-illustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Download Extension Section */
.section-download-extension {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-download-extension-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
}
.extension-card {
  width: fit-content;
  height: 24rem;
  box-shadow: var(--primary-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.4rem;
  padding: 1rem 0;
  text-align: center;
}
.extension-card > *:not(.extension-card-logo, .extension-card-separator-icon) {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.extension-card:first-child {
  transform: translateY(-10%);
}
.extension-card:last-child {
  transform: translateY(10%);
}
.extension-card > .primary-cta-button {
  width: 80%;
  white-space: nowrap;
}
.extension-card > .extension-card-cta-text {
  font-weight: bold;
  opacity: 1;
}
.extension-card > .extension-card-minimum-version {
  font-size: 0.8rem;
}
.extension-card > .extension-card-separator-icon {
  width: 100%;
}
.extension-card > .primary-cta-button {
  padding: var(--button-padding);
  border-radius: 0.4rem;
  font-weight: bold;
}

/* FAQ Section */
.section-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.faq-accordions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}
.faq-accordion {
  border-bottom: 0.15rem solid var(--color-neutral-1);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.faq-accordion:first-child {
  border-top: 0.15rem solid var(--color-neutral-1);
}
.faq-accordion-button {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-left: 0;
}
.faq-accordion-button-text {
  opacity: 1;
  pointer-events: none;
}
.section-faq > .primary-button {
  padding: var(--button-padding);
  font-weight: bold;
  border-radius: 0.4rem;
}
.faq-accordion-content {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
}
.faq-accordion.content-visible > .faq-accordion-content {
  max-height: 100rem;
  margin: 1rem;
}
.faq-accordion.content-visible .faq-accordion-arrow-icon {
  transform: rotate(180deg);
}
.faq-accordion.content-visible .faq-accordion-arrow-icon > path {
  stroke: var(--color-primary-2);
}

/* Contact Section */
.section-contact {
  background-color: var(--color-primary-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #ffffff;
}
.section-contact > p {
  opacity: 1;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.section-contact > h2 {
  text-align: center;
  max-width: 24%;
}
.contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.8rem;
}
.contact-us-container > .email-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 0.4rem;
  border-radius: 0.4rem;
  gap: 0.2rem;
}
.contact-us-container > .email-input-wrapper > p {
  opacity: 0;
  font-size: 0.9rem;
  align-self: flex-start;
  padding: 0.2rem;
}
.contact-us-container > .email-input-wrapper:has(.text-input.invalid) {
  background-color: var(--color-primary-2);
}
.contact-us-container > .email-input-wrapper:has(.text-input.invalid) > p {
  opacity: 1;
}
.contact-us-container > .email-input-wrapper > .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.contact-us-container > .email-input-wrapper > .input-wrapper > input {
  width: 15rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  background-color: #ffffff;
  color: #000000;
  padding-left: 1rem;
  padding-right: 2.2rem;
  height: 2.4rem;
  font-size: 1rem;
}
.contact-us-container > .email-input-wrapper > .input-wrapper > input::placeholder {
  color: var(--color-neutral-2);
  opacity: 0.4;
}
.contact-us-container > .email-input-wrapper > .input-wrapper > img {
  position: absolute;
  right: 0;
  padding-right: 0.5rem;
  opacity: 0;
}
.contact-us-container > .email-input-wrapper:has(.text-input.invalid) > .input-wrapper > img {
  opacity: 1;
}
.contact-us-container > .secondary-button {
  margin-top: 0.2rem;
  padding: var(--button-padding);
  border-radius: 0.4rem;
  border: 0.15rem solid transparent;
  font-weight: bold;
  height: 100%;
}
footer {
  background-color: var(--color-neutral-2);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--x-padding);
}
.logo-nav-links-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.social-media-links-container {
  display: flex;
  gap: 2rem;
}
.footer-social-media-icon {
  height: 2rem;
}

/* Transitions */
.nav-link,
.faq-accordion-button-text {
  transition: color 0.25s ease;
}
.features-tab-switcher-button-text {
  transition: color 0.25s ease, border-color 0.25s ease;
}
.primary-cta-button,
.secondary-cta-button,
.secondary-button {
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}
.primary-button {
  transition: filter 0.25s ease;
}
.email-input-wrapper {
  transition: background-color 0.25s ease;
}
.email-input-wrapper > p,
.contact-us-container > .email-input-wrapper > .input-wrapper > img {
  transition: opacity 0.25s ease;
}
.footer-social-media-icon path {
  transition: fill 0.25s ease;
}
.faq-accordion-arrow-icon {
  transition: transform 0.25s ease;
}
.faq-accordion-arrow-icon path {
  transition: stroke 0.25s ease;
}

/* Hover */
@media (pointer: fine) {
  .nav-link:hover,
  .features-tab-switcher-button:hover,
  .faq-accordion-button-text:hover {
    color: var(--color-primary-2);
  }
  .login-button:hover,
  .primary-cta-button:hover,
  .secondary-cta-button:hover,
  .secondary-button:hover {
    background-color: #ffffff;
  }
  .primary-button:hover {
    filter: brightness(110%);
  }
  .secondary-button:hover {
    color: var(--color-primary-2);
    border-color: var(--color-primary-2);
  }
  .primary-cta-button:hover {
    color: var(--color-primary-1);
    border-color: var(--color-primary-1);
  }
  .secondary-cta-button:hover {
    border-color: var(--color-neutral-2);
  }
  .footer-social-media-icon:hover path {
    fill: var(--color-primary-2);
  }
}

.nav-link:active,
.features-tab-switcher-button:active,
.faq-accordion-button-text:active {
  color: var(--color-primary-2);
}
.login-button:active,
.primary-cta-button:active,
.secondary-cta-button:active,
.secondary-button:active {
  background-color: #ffffff;
}
.primary-button:active {
  filter: brightness(120%);
}
.secondary-button:active {
  color: var(--color-primary-2);
  border-color: var(--color-primary-2);
}
.primary-cta-button:active {
  color: var(--color-primary-1);
  border-color: var(--color-primary-1);
}
.secondary-cta-button:active {
  border-color: var(--color-neutral-2);
}
.footer-social-media-icon:active path {
  fill: var(--color-primary-2);
}

/* Mobile UI */
.toggle-navbar-button {
  display: none;
}
.mobile-navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(37, 43, 70, 0.9);
  padding: var(--x-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  transform: translateY(-5%);
  opacity: 0;
  pointer-events: none;
}
.mobile-navbar-logo-close-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navbar-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mobile-navbar-container .nav-links-cta-container-mobile {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.mobile-navbar-container .nav-links-cta-container-mobile .login-button {
  background-color: transparent;
  border-color: #ffffff;
  border-width: 0.2rem;
}
.mobile-navbar-container .nav-link {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  border: 0.15rem solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.mobile-navbar-container .nav-link:first-child {
  border-top-color: rgba(255, 255, 255, 0.2);
}
.mobile-navbar-container .social-media-links-container {
  align-self: center;
}
.mobile-navbar-container .social-media-links-container .footer-social-media-icon {
  height: 2.4rem;
}
@media (max-width: 576px) {
  /* Defaults */
  .section-header > * {
    max-width: 80%;
  }
  .section-header > p {
    max-width: 80%;
  }
  h1,
  h2,
  p {
    text-align: center;
    align-self: center;
  }
  html {
    font-size: 12px;
  }
  #root {
    --paragraph-font-size: 1.2rem;
    --heading-font-size: 2rem;
    --y-section-padding: 10vh;
  }
  /*  */
  .mobile-navbar-container.visible {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
  }
  .header {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .toggle-navbar-button {
    display: block;
  }
  .nav-links-cta-container > nav,
  .nav-links-cta-container > button {
    display: none;
  }
  .section-hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .section-hero-illustration-wrapper {
    height: 10vh;
    width: 100%;
    padding: 0 2rem;
  }
  .section-hero-illustration-wrapper::before {
    height: 12rem;
    width: 80vw;
  }
  .section-hero-illustration {
    width: 100%;
  }
  .section-hero-content {
    padding: 0 var(--x-padding);
  }
  .section-hero-content > h1 {
    font-size: 2.6rem;
  }
  .section-hero-cta-buttons > .button {
    flex: 1;
  }
  .features-tab-switcher-container {
    flex-direction: column;
  }
  .features-tab-switcher-button-wrapper {
    width: 80%;
    border-bottom: 0.15rem solid var(--color-neutral-1);
  }
  .features-tab-switcher-button-wrapper:first-child {
    border-top: 0.15rem solid var(--color-neutral-1);
  }
  .features-tab-switcher-button {
    width: 100%;
  }
  .features-tab-switcher-button-text {
    font-size: 1.4rem;
  }
  .section-features-tabs-container {
    gap: unset;
  }
  .features-tab {
    flex-direction: column;
  }
  .features-tab-illustration-wrapper {
    width: 100%;
    padding: 0 2rem;
  }
  .features-tab-illustration {
    height: 20rem;
  }
  .features-tabs-wrapper::before {
    height: 15rem;
    width: 80vw;
  }
  .features-tab-content {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: var(--y-section-padding);
  }
  .primary-button {
    display: none;
  }
  .section-download-extension-cards-container {
    flex-direction: column;
  }
  .extension-card {
    width: 80%;
    height: fit-content;
    gap: 1.8rem;
    padding: 2rem 0;
  }
  .extension-card > *:not(.extension-card-logo, .extension-card-separator-icon) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .extension-card > .extension-card-minimum-version {
    font-size: 1rem;
  }
  .faq-accordions-container {
    width: 80%;
  }
  .faq-accordion-content {
    text-align: start;
  }
  .section-contact > h2 {
    max-width: 80%;
  }
  .contact-us-container {
    flex-direction: column;
  }
  .contact-us-container > .email-input-wrapper > .input-wrapper > input,
  .contact-us-container > .secondary-button {
    width: 100%;
  }
  footer,
  .logo-nav-links-container,
  .nav-links-container {
    flex-direction: column;
  }
  .nav-links-container {
    gap: 0;
  }
  .social-media-links-container {
    margin-top: 3rem;
  }
}
