*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  --color-primary-1: hsl(231, 69%, 60%);
  --color-primary-2: hsl(0, 94%, 66%);
  --color-neutral-1: hsl(0, 0%, 97%);
  --color-neutral-2: hsl(229, 31%, 21%);
  --x-padding: 10vw;
  --y-section-padding: 5vh;
  --heading-font-size: 1.5rem;
  --paragraph-font-size: 1.2rem;
  --paragraph-opacity: 0.5;
  --button-padding: 0.8rem 1.4rem;
  --button-radius: 0.4rem;
  color: var(--color-neutral-2);
}

/* Resets */
.button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
}
.text-input {
  outline: none;
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
/*  */

/* Defaults */
p {
  font-size: var(--paragraph-font-size);
  opacity: var(--paragraph-opacity);
}
h1,
h2 {
  font-size: var(--heading-font-size);
}
.section {
  padding-top: var(--y-section-padding);
  padding-bottom: var(--y-section-padding);
}
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-header > p {
  max-width: 40%;
  text-align: center;
}
/*  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--y-section-padding) var(--x-padding);
}
.nav-links-cta-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.nav-links-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.nav-link {
  cursor: pointer;
}
.login-button {
  color: #ffffff;
  background-color: var(--color-primary-2);
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
}
.nav-link,
.login-button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* Hero Section */
.section-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-hero > * {
  flex: 1;
}
.section-hero-content {
  padding-left: var(--x-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-hero-illustration-wrapper {
  position: relative;
  overflow: hidden;
  padding-right: var(--x-padding);
}
.section-hero-illustration-wrapper::before {
  position: absolute;
  right: -1%;
  bottom: 0;
  content: "";
  height: 20rem;
  width: 40vw;
  --border-radius: 40vw;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--color-primary-1);
  z-index: -1;
}
.section-hero-content > h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.section-hero-content > p {
  max-width: 90%;
}
.section-hero-cta-buttons {
  display: flex;
  gap: 1rem;
}
.section-hero-cta-buttons > .button {
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  font-weight: bold;
}
.primary-cta-button {
  background-color: var(--color-primary-1);
  color: #ffffff;
}
.secondary-cta-button {
  background-color: var(--color-neutral-1);
  color: #000000;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.05rem rgb(37, 43, 70, 0.2);
}

/* Features Section */
.section-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-features-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.features-tab-switcher-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-tab-switcher-button {
  font-size: 1rem;
  padding: 1rem;
  border-bottom: 0.15rem solid transparent;
  opacity: 0.6;
}
.features-tab-switcher-button.active {
  border-color: var(--color-primary-2);
  opacity: 1;
}
.features-tab-simple-bookmarking {
  display: flex;
  height: 50vh;
  gap: 2rem;
}
.features-tab-simple-bookmarking > * {
  width: 50%;
}
.features-tabs-wrapper {
  position: relative;
  padding: 0 var(--x-padding);
  padding-bottom: 2.5rem;
}
.features-tabs-wrapper::before {
  position: absolute;
  left: -1%;
  bottom: 0;
  content: "";
  height: 20rem;
  --background-overlay-width: 40vw;
  width: var(--background-overlay-width);
  --border-radius: var(--background-overlay-width);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-primary-1);
  z-index: -1;
}
.features-tab-illustration-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.features-tab-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
.features-tab-content > p {
  max-width: 90%;
}
.features-tab-content > .button {
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  font-weight: bold;
}
.features-tab-illustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Download Extension Section */
.section-download-extension {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-download-extension-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
.extension-card {
  width: fit-content;
  height: 19rem;
  width: 15rem;
  box-shadow: 0.1rem 0.1rem 0.6rem 0.05rem rgb(37, 43, 70, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
}
.extension-card:first-child {
  transform: translateY(-10%);
}
.extension-card:last-child {
  transform: translateY(10%);
}
.extension-card > .extension-card-cta-text {
  font-weight: bold;
  opacity: 1;
}
.extension-card > .extension-card-minimum-version {
  font-size: 0.8rem;
}
.extension-card > .extension-card-separator-icon {
  width: 100%;
}
.extension-card > .primary-cta-button {
  padding: var(--button-padding);
  border-radius: 0.4rem;
  font-weight: bold;
}

/* FAQ Section */
.section-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.faq-accordions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}
.faq-accordion {
  border: 0.2rem solid var(--color-neutral-1);
  border-left: 0;
  border-right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.faq-accordion-button {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-left: 0;
}
.section-faq > .primary-cta-button {
  padding: var(--button-padding);
  font-weight: bold;
  border-radius: 0.4rem;
}
.faq-accordion-content {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
}
.faq-accordion.content-visible > .faq-accordion-content {
  max-height: 100rem;
  margin-top: 0.5rem;
}

/* Contact Section */
.section-contact {
  background-color: var(--color-primary-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #ffffff;
}
.section-contact > p {
  opacity: 1;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.section-contact > h2 {
  text-align: center;
  max-width: 24%;
}
.contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.8rem;
}
.contact-us-container > input {
  width: 15rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  background-color: #ffffff;
  color: #000000;
  padding: 0 1rem;
}
.contact-us-container > input::placeholder {
  color: var(--color-neutral-2);
  opacity: 0.4;
}
.contact-us-container > .primary-cta-button {
  background-color: var(--color-primary-2);
  padding: var(--button-padding);
  border-radius: 0.4rem;
  font-weight: bold;
}
footer {
  background-color: var(--color-neutral-2);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--x-padding);
}
.logo-nav-links-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.social-media-links-container {
  display: flex;
  gap: 2rem;
}
.footer-social-media-icon {
  height: 2rem;
}
